<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>菜单</title>
<link type="text/css" href="css/style.css" rel="stylesheet" />
</head>

<body>
<div class="food">
	<div class="top">
        <div class="title">菜单 Menu </div>
        	<div class="member">{$member}<a style="margin-left:10px;" href="checkout.php">退出</a></div>
	</div><!--top end-->
    
    <div class="left">
       <ul id="myTab">
       	   <li><a href="index.php">全部</a></li>
       	   <li><a href="hots.php?hot=1">热销</a></li>
           <li><a href="types.php?typeid=1">正餐</a></li>
           <li><a href="types.php?typeid=2">饮品</a></li>
           <li><a href="types.php?typeid=3">甜点</a></li>
           <li><a href="carts.php">我的购物车</a></li>
           <li><a href="orders.php">我的订单</a></li>
        </ul>
    </div>  <!--left end-->

    <div class="right">
        <div class="scroll">
            {foreach item=menu from=$menus}
            <div class="menu">
             	<form action="cart_add.php?menuid={$menu->getId()}&number=1" method="post">
                    <img src="{$menu->getImg()}" class="picture" />
                    <input type="hidden" name="img" value="{$menu->getImg()}"/>
                    <div class="contain">
                        <div class="content"><span>【{$menu->getName()}】</span>￥{$menu->getPrice()}元</div>
                        <input type="hidden" name="name" value="{$menu->getName()} "/>
                        <div class="content">{$menu->getIntroduce()}</div>
                        <input type="hidden" name="price" value="{$menu->getPrice()} "/>
                        <input class="btn" type="submit" value="+" name="btn"/>
                    </div>
                </form>
            </div>
            <hr width="595px;"/>
            {/foreach}
       </div>
    </div>  <!--right end-->
</div>
</body>
{literal}
<script src="./js/jquery-3.1.1.min.js"></script>
<script src="./js/jquery.form.min.js"></script>
<script>
/*$(".btn").click(function(e) {
			var button =$(this);              
			$(this).parents("form").ajaxSubmit({
				success:function(data){
					if(data == ""){
						alert("请登录！");
					}
					else{
						alert("添加成功！");
						
					}
				}
			});
        });*/
</script>
{/literal}
</html>
